.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbook
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*
!.bundle/config

# test kitchen
.kitchen/
.kitchen.local.yml

# local anaconda installers should not be checked in
Anaconda*-*-Linux-*.sh

# no logfiles
*.log

# OSX
.DS_Store
